.App {
  text-align: center;
}

.name-time {
  width: 100%;
  height: 200px;
  background: lawngreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items {
  height: auto;
  width: auto;
  background: lightblue;
  margin: 5px;
}
img {
  height: 80px;
  width: auto;
}